/* Styles for the main container */
.main {
    /* Create a flex container with a column layout */
    display: flex;
    flex-direction: column;
}

/* Styles for forms within the main container */
.main form {
    /* Create a flex container with a column layout */
    display: flex;
    flex-direction: column;
    padding: 2%;
    align-items: center;
}

/* Styles for input elements within forms */
.main form > input {
    /* Set the width of input elements */
    width: 40%;
}

/* Styles for textarea elements within forms */
.main form textarea {
    /* Set the width of textarea elements */
    width: 40%;
}

/* Styles for select elements */
.select {
    /* Set the width and padding for select elements */
    width: 30%;
    padding: 1%;
}

/* Styles for a list container */
.lst {
    /* Create a flex container with a column layout */
    display: flex;
    flex-direction: column;
    width: 100vw;
    padding: 1%;
    justify-content: center;
    align-items: center;
}

/* Styles for input elements within the list container */
.lst > input {
    /* Set padding and margin for input elements */
    padding: 1%;
    margin: 1%;
}

/* Styles for an element with the ID 'isbtn' */
#isbtn {
    /* Set the width of the element */
    width: 20%;
}

/* Styles for an element with the ID 'flip' */
#flip {
    /* Center text and set background and border */
    text-align: center;
    background-color: #000000;
    border: solid 1px #c3c3c3;
}

/* Styles for an element with the ID 'panel' */
#panel {
    /* Set padding and initially hide the element */
    padding: 50px;
    display: none;
}
